<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<div align="center">
    <h1>Employee List</h1>
    <a href="/addEmployee">Create New Employee</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeesList}">
            <td th:text="${employee.id}">Employee ID</td>
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
            <td th:text="${product.email}">Email</td>
            <td>
                <a th:href="/@{'/edit/' + ${employee.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="/@{'/delete/' + ${employee.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>